.dash-card {
    padding: $spacing-05;
    background-color: $ui-01;
    margin-bottom: $layout-03;
    border-radius: $spacing-03;
}

.modem-card {
    background-color: $ui-01;
    padding: $spacing-06;
    border-radius: $spacing-03;
    margin-bottom: $layout-03;
    &:hover {
        cursor: pointer;
        @include layer("pop-out");
    }
    h3 {
        @include carbon--type-style("productive-heading-03");
    }
    .modem-card__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $layout-03;
    }
    .modem-card__body {
        text-align: center;
    }

    .modem-card__footer {
        .bx--btn-set {
            max-width: 100%;
            width: 100%;
        }
        display: flex;
        justify-content: space-around;
        margin-top: $layout-03;
        button {
            width: 50%;
        }
    }
}
