.login-page__container {
    background: url("./auth_bg.jpg");
    height: 100vh;
    padding: ($spacing-07 * 2) $spacing-07;
    background-position: center right;

    color: $ui-01;
    @include carbon--breakpoint(md) {
        padding: $spacing-07 * 4;
    }

    h2 {
        @include carbon--type-style("productive-heading-06");
    }

    p {
        color: $text-03;
    }

    form {
        label {
            color: $ui-background;
        }
        .submit-button {
            max-width: 100%;
            width: 100%;
        }
    }

    .login-centered-icon {
        display: inline-block;
        position: relative;
        top: 0.175rem;
    }
}
