@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/colors.scss";
@import "carbon-components/scss/globals/scss/layer.scss";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

// import here so they inherit the theme g10
@import "./content/Auth/auth.scss";

@import "./components/DashHeader/dash_header.scss";
@import "./components/Card/card.scss";

#main-content {
  height: 100%;
  padding: $spacing-06;
  width: 100%;
}

.dash-centered-icon {
  display: inline-block;
  position: relative;
  top: 0.2rem;
  margin-right: $layout-01 / 2;
}

.centered-icon {
  display: inline-block;
  position: relative;
  top: 0.175rem;
}
