//import carbon styles
$feature-flags: (
  grid-columns-16: true,
);
// Feature flags
$css--font-face: true;
$css--plex: true;

@import "carbon-components/scss/globals/scss/theme.scss";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

// Global styles
@import "carbon-components/scss/globals/scss/styles.scss";

// Import carbon grid
@import "carbon-components/scss/globals/grid/grid";
